/* Basic feature styling */
body {
    font-family: "Helvetica Neue" Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-features {
    text-align: center;
    padding: 20px;
}



/*feature grid*/
.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;

}

/* indivdual feature */
.feature {
    text-align: left;
    padding: 15px;
    border: 1px solid #ccc;

}



/*icon*/
.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
    
h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

p { font-size: 1rem;
    color: #666;
    margin: 0;

}
    
   